<body id="post-form">
  <h1>Create a new post</h1>

  <div class="container post-main">
    <div class ="jumbotron post-form-jumbo">
      <h1>Create a new post</h1>
    </div>
<form action="/form/summary" method="post" class="form-group">
    <div class="row">
      <div class="col-md-6 user-form-info">


          <div class="well">
          <h4>Title:</h4>
          <input type="text" class="form-control" name="title" required>
          </div>

          <div class="well">
          <h4>Your Name:</h4>
          <input type="text" class="form-control" name="name" required>
          </div>

          <div class="well">
          <h4>Travel Start Date</h4>
          <input type="date" class="form-control" name="start-date" required>
          </div>

          <div class="well">
          <h4>Travel End Date</h4>
          <input type="date" class="form-control" name="end-date" required>
          </div>
        </div>

        <div class="col-md-6 place-dropdown">
          <div class="well">
          <h4>Region:</h4>
          <select class="selectpicker" name="region">
            @foreach(var region in Model["regions"])
            {
            <option value="@region.GetId()">@region.GetName()</option>
            }
          </select>

        </div>
            <div class="well">
          <h4>Country:</h4>
          <select class="selectpicker" name="country">
            @foreach(var country in Model["countries"])
            {
                <option value="@country.GetId()">@country.GetName()</option>
            }
          </select>


        </div>
            <div class="well">
          <h4>City:</h4>
          <select class="selectpicker" name="city">
            @foreach(var city in Model["cities"])
            {
                <option value="@city.GetId()">@city.GetName()</option>
            }
          </select>

        </div>
          <div class="well">
          <h4>Tag:</h4>
          <select class="selectpicker" name="tag">
            @foreach(var tag in Model["tags"])
            {
                <option value="@tag.GetId()">@tag.GetName()</option>
            }
          </select>
        </div>
      </div>
    </div>


        <div class="row">
          <div class="form-group post-form-area">
            <h3>Share your experience</h3>
            <textarea rows="15" cols="150" name="text" placeholder="Share your experience..."></textarea>
          </div>
          <div class="button-post-form">
          <button type="submit" class="btn btn-success">Confirm Post</button>
          <a href='/' class="btn btn-info"> Cancel</a>
        </div>
        </div>
      </div>




    </form>


</body>
