<div class="form-group">
  <a href="/" class="btn btn-default">Home</a>
  <a href='/update-post/@Model["post"].GetId()/region/@Model["post"].GetRegionId()/country/@Model["post"].GetCountryId()/city/@Model["post"].GetCityId()' class="btn btn-info">Update post</a>
  <a href='/delete/@Model["post"].GetId()' class="btn btn-danger">Delete post</a>
</div>

<h3>@Model["post"].GetTitle()</h3>

<div class="row">
  <div class="col-md-8">
    <h4>By: @Model["post"].GetName()</h4>
    <h4>Trip Duration: @Model["post"].GetStartDate().ToString("MM/dd/yyyy") - @Model["post"].GetEndDate().ToString("MM/dd/yyyy")</h4>
    <h4>Region: @Model["region"].GetName()</h4>
    <h4>Country: @Model["country"].GetName()</h4>
    <h4>City: @Model["city"].GetName()</h4>
  </div>

  <div class="col-md-4">
    <div class="well">
      <form action='/post/@Model["post"].GetId()/region/@Model["region"].GetId()/country/@Model["country"].GetId()/city/@Model["city"].GetId()/add-tags' method="post">
        <label for="tags">Add tags:</label>
          <select class="selectpicker" name="tags">
            @foreach(var tag in Model["allTags"])
            {
                <option value="@tag.GetId()">@tag.GetName()</option>
            }
          </select>
        <button type="submit" class="btn btn-default">Add tag</button>
      </form>

      <div class="postTags">
        <label for="postTags">Tags:</label>
        <ul>
          @foreach(var tag in Model["postTags"])
          {
            <li>@tag.GetName() <a href='/post/@Model["post"].GetId()/region/@Model["region"].GetId()/country/@Model["country"].GetId()/city/@Model["city"].GetId()/tag/@tag.GetId()/delete-tag'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>

<hr>
<p>@Model["post"].GetText()</p>
<hr>


@foreach(var reply in @Model["replyList"])
{
<div class="well">
  <h4>@reply.GetName()<a href='/update-reply/@Model["post"].GetId()/region/@Model["region"].GetId()/country/@Model["country"].GetId()/city/@Model["city"].GetId()/reply/@reply.GetId()' class="btn btn-info">Update reply</a>
  <a href='/post/@Model["post"].GetId()/region/@Model["region"].GetId()/country/@Model["country"].GetId()/city/@Model["city"].GetId()/reply/@reply.GetId()/deleted-reply' class="btn btn-danger">Delete reply</a></h4>
  <p>@reply.GetText()</p>
  </div>
}


<div class="form-group">
  <form action="/post/@Model["post"].GetId()/region/@Model["region"].GetId()/country/@Model["region"].GetId()/city/["city"].GetId" method="post">
  <label for="reply">Add a reply:</label>
  <input type="text" placeholder="Your Name" name="reply-name">
  <textarea class="form-control" rows="5" name="reply-text"></textarea>
  <button type="submit" class= "btn btn-info">Add reply</button>
</form>
</div>
