<div class="container">
  <body id="post-summary">
    <div id="form-summary">
      <div class="row summary-row">
        <legend>  <h1 class="post-summary-head">Here is your post summary:</h1></legend>
        <div class="col-md-6">
          <h4>Title:</h4>
          <p>@Model["post"].GetTitle()</p>
          <h4>Name:</h4>
          <p>@Model["post"].GetName()</p>
          <h4>Start Date:</h4>
          <p>@Model["post"].GetStartDate().ToString("MM/dd/yyyy")</p>
          <h4>End Date:</h4>
          <p>@Model["post"].GetEndDate().ToString("MM/dd/yyyy")</p>

        </div>
        <div class="col-md-6">
          <h4>Region:</h4>
          <p>@Model["region"].GetName()</p>
          <h4>Country:</h4>
          <p>@Model["country"].GetName()</p>
          <h4>City:</h4>
          <p>@Model["city"].GetName()</p>
          <h4>Tag:</h4>
          @foreach (var tag in @Model["tags"])
          {
            <p>@tag.GetName()</p>
          }
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 post-summary-text">

          <p>@Model["post"].GetText()</p>
        </div>
      </div>
    </div>
    <div class="summary-buttons">
      <a href='/post/@Model["post"].GetId()/region/@Model["post"].GetRegionId()/country/@Model["post"].GetCountryId()/city/@Model["post"].GetCityId()/view-post'> <button class="btn btn-info btn-lg">Go to your post</button></a>
      <a href='/update/@Model["post"].GetId()'> <button class="btn btn-warning btn-lg">Update</button></a>
    </div>
  </body>
</div>
