<body id="post-form">
  <h1>Update your post:</h1>

    <form action='/post/@Model["post"].GetId()/region/@Model["post"].GetRegionId()/country/@Model["post"].GetCountryId()/city/@Model["post"].GetCityId()

    /updated' method="post" class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" name="title" value='@Model["post"].GetTitle()' required>
      <label for="name">Your name:</label>
      <input type="text" class="form-control" name="name" value='@Model["post"].GetName()'required>
      <label for="start-date">Travel start date:</label>
      <input type="date" class="form-control" name="start-date" value='@Model["post"].GetStartDate()' required>
      <label for="end-date">Travel end date:</label>
      <input type="date" class="form-control" name="end-date" value='@Model["post"].GetEndDate()' required>
      <label for="text">Text:</label>
      <input type="text" class="form-control" name="text" value='@Model["post"].GetText()' required>

      <label for="region">Region:</label>
      <select class="selectpicker" name="region">
        @foreach(var region in Model["region"])
        {
        <option value='@region.GetId()'>@region.GetName()</option>
        }
      </select>

      <label for="country">Country:</label>
      <select class="selectpicker" name="country">
        @foreach(var country in Model["country"])
        {
        <option value='@country.GetId()'> @country.GetName()</option>
        }
      </select>

      <label for="city">City:</label>
      <select class="selectpicker" name="city">
        @foreach(var city in Model["city"])
        {
        <option value='@city.GetId()'>@city.GetName()</option>
        }
      </select>
      <div>

      <label for="tag">Tag:</label>
      <select class="selectpicker" name="tag">
        @foreach(var tag in Model["allTags"])
        {
          <option value='@tag.GetId()'>@tag.GetName()</option>
        }
      </select>

      <div>
        <a href='/update-post/updated/@Model["post"].GetId()'> <button type="submit" class="btn btn-success">Save Update </button></a>
        <a href='/' class="btn btn-info"> Cancel  </a>
      </div>
    </form>


</body>
